@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

p::first-letter {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
}

p::first-line {
    text-decoration: underline;
}

a::after {
    content: "🔗";
}